
<div class='container'>
  <!-- question title -->
<h1><%=@question.title%></h1>

<!-- vote forms and count -->
<div>
<!-- <form> -->
<p><%=@question.vote_count%></p>
<!-- <form> -->
</div>

<!-- question body -->
<h3>Question body</h3>
<p><%=@question.question%></p>

<!-- question votes -->
<h3>Question votes</h3>
<div class="question-vote-count">
  <form class="upvote" method='post' action="/questions/<%= @question.id %>/upvote">
    <input type="submit" value="Up Vote">
  </form>
	<div class="vote-count"><%= @question.vote_count %></div>
  <form class="downvote" method='post' action="/questions/<%= @question.id %>/downvote">
    <input type="submit" value="Down Vote">
  </form>
</div>


<!-- question author -->
<h3>Question author</h3>
<div><a href="/users/<%= @question_author.id %>"><%= @question_author.first_name %></a></div>

<ul>
<!-- question comments -->
<h3>Question comments</h3>
<div><%@question.comments.each do |comment|%>
<li><%=comment.comment%></li>
<li><a href='/users/<%=comment.user_id%>'><%=User.find(comment.user_id).first_name%></a></li>
<li><%=comment.created_at%></li><br>
<%end%>
</ul>
</div>
<div>
Comment
<% if @errors %>
<%@errors.each do |error|%>
<%=error%>
<%end%>
<%end%>
<!-- question comment form -->
<form action='/questions/<%=@question.id%>/comments/new' method='post'>
  <input type="text" name="comment">
  <input type="submit" value="Submit">
</form>
</div>
<br>
<div><%=@question.answers.length%> Answers</div><br>

<!-- question answers -->
<h3>Answers</h3>
<div class='answers'><%@question.answers.each do |answer|%>
  <div class='voting_box'>
  <form class="upvote" method='post' action="/answers/<%= answer.id %>/upvote">
    <input type="submit" value="Up Vote">
  </form>
  <div class="vote-count"><%= answer.vote_count %></div>
  <form class="downvote" method='post' action="/answers/<%= answer.id %>/downvote">
    <input type="submit" value="Down Vote">
  </form>
  </div>
<li><%=answer.answer%></li><br>
<li><a href='/users/<%=answer.user_id%>'><%=User.find(answer.user_id).first_name%></a></li><br>
<div class='answer_comments'><%answer.comments.each do |comment|%>
<li><%=comment.comment%></li>
<li><a href='/users/<%=comment.user_id%>'><%=User.find(comment.user_id).first_name%></a></li>
<li><%=comment.created_at%></li>
  <%end%>
  <div>
  Comment
  <% if @errors %>
  <%@errors.each do |error|%>
  <%=error%>
  <%end%>
  <%end%>
  <!-- question answer form -->
  <form action='/questions/<%=@question.id%>/answers/<%=answer.id%>/comments/new' method='post'>
    <input type="text" name="comment">
    <input type="submit" value="Submit">
  </form>
  </div>
<%end%>
</ul>
</div>

<br>
<div>
Your Answer
<% if @errors %>
<%@errors.each do |error|%>
<%=error%>
<%end%>
<%end%>
<!-- question answer form -->
<form action='/questions/<%=@question.id%>' method='post'>
  <input type="text" name="answer">
  <input type="submit" value="Submit">
</form>
</div>
</div>
