
<div class='container'>
  <!-- question title -->
  <h1><%=@question.title%></h1>

  <!-- vote forms and count -->

    <!-- question votes -->
  <div class="question-vote-count">
    <form class="upvote" method='post' action="/questions/<%= @question.id %>/upvote">
      <input type="submit" value="⬆">
    </form>
    <div class="vote-count"><%= @question.vote_count %></div>
    <form class="downvote" method='post' action="/questions/<%= @question.id %>/downvote">
      <input type="submit" value="⬇">
    </form>
  </div>



  <!-- question body -->
  <h3>Question</h3>
  <div class="question-body">
  <p><%=@question.question%></p>

  <p> Tags:
    <% @question.tags.each do |tag| %>
      <span class="question-tag"><%= tag.subject %> </span>
    <% end %>
  </p>

  <% if logged_in? %>
    <% if current_user.id == @question.user_id %>
      <a href="/questions/<%= @question.id %>/edit">Edit this post</a>
      <form class="" action="/questions/<%= @question.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete this post">
      </form>
    <% end %>
  <% end %>
  </div>

  <!-- question author -->
  <div class="author">
    <a href="/users/<%= @question_author.id %>"><%= @question_author.first_name %></a>
  </div>


  <!-- question comments -->
  <h3>Question comments</h3>

  <div>
    <ul>
      <%@question.comments.each do |comment|%>
        <li><%= comment.comment %></li>
        <li><a href='/users/<%= comment.user_id %>'><%= User.find(comment.user_id).first_name %></a></li>
        <li><%= comment.created_at %></li><br>
        <% if logged_in? %>
          <% if current_user.id == comment.user_id %>
            <a href="/questions/<%= @question.id %>/comments/<%= comment.id %>/edit">Edit this post</a>
            <form class="" action="/questions/<%= @question.id %>/comments/<%= comment.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete this comment">
            </form>
          <% end %>
        <% end %>
      <%end%>
    </ul>
  </div>

  <div class="question-comment-css">
  Comment
    <% if @errors %>
      <%@errors.each do |error|%>
        <%=error%>
      <%end%>
    <%end%>
  <!-- question comment form -->
    <form action='/questions/<%=@question.id%>/comments/new' method='post'>
      <textarea rows="7" cols="150 "name="comment"></textarea>
      <input type="submit" value="Submit">
    </form>
  </div><br>

  <div><%=@question.answers.length%> Answers</div><br>

  <!-- question answers -->
  <h3>Answers</h3>
  <div class='question-answers'>
    <%@question.answers.each do |answer|%>
    <div class="answer-container">
      <div class='voting_box'>
        <form class="upvote" method='post' action="/answers/<%= answer.id %>/upvote">
          <input type="submit" value="⬆">
        </form>
        <div class="vote-count"><%= answer.vote_count %></div>
        <form class="downvote" method='post' action="/answers/<%= answer.id %>/downvote">
          <input type="submit" value="⬇">
        </form>
      </div>
      <div class="answer"><%= answer.answer %><span><br><a href='/users/<%= answer.user_id %>'><%= User.find(answer.user_id).first_name %></a> answered on <%= answer.created_at %></span></div>
<!--       <div class="author"></div> -->
      <% if logged_in? %>
        <% if current_user.id == answer.user_id %>
          <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/edit">Edit your answer</a>
          <form class="" action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete your answer">
          </form>
        <% end %>
      <% end %>

  <!-- Comments to answers -->
      <div class='answer-comments'>
        <%answer.comments.each do |comment|%>
        <ul>
          <li><%=comment.comment%></li>
          <li><a href='/users/<%= comment.user_id %>'><%= User.find(comment.user_id).first_name %></a></li>
          <li><%=comment.created_at%></li>
        </ul>
        <% if logged_in? %>
          <% if current_user.id == comment.user_id %>
            <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/comments/<%= comment.id %>/edit">Edit your comment</a>
            <form class="" action="/questions/<%= @question.id %>/answers/<%= answer.id %>/comments/<%= comment.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete your comment">
            </form>
            <% end %>
          <% end %>
        <%end%>
        <div class="answer-comment-css">
          Comment
          <% if @errors %>
            <%@errors.each do |error|%>
              <%=error%>
              <%end%>
            <%end%>

          <!-- question answer form -->
          <form action='/questions/<%=@question.id%>/answers/<%=answer.id%>/comments/new' method='post'>
            <textarea rows="7" cols="100" name="comment"></textarea>
            <input type="submit" value="Submit">
          </form>
          </div>
        </div>
      </div>
    <%end%>

  </div>


  <br>
            <div class="your-answer">
            Your Answer
            <% if @errors %>
            <%@errors.each do |error|%>
            <%=error%>
            <%end%>
            <%end%>
            <!-- question answer form -->
            <form action='/questions/<%=@question.id%>' method='post'>
              <textarea rows="7" cols="50" name="answer"></textarea>
              <input type="submit" value="Submit">
            </form>
            </div>
</div>
