<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p>
  Account created on <%= @user.created_at %>
</p>
<p>
  Profile views: <%= @user.view_count %>
</p>
<!-- To add page views, i need to create migration to add column views(counter) to users. Every time a person visits their profile page(and is not themself), it will increase the counter by 1 and display counter somewhere on this page.  -->

<div class="">
  <p>
    Questions: <%= @questions.length %>
      <ul>
        <% @questions.each do |question| %>
          <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
        <% end %>
      </ul>
  </p>
</div>

<div class="">
  <p>
    Answers: <%= @answers.length %>
    <ul>
      <% @answers.each do |answer| %>
        <li><a href="/questions/<%= answer.question_id %>"><%= Question.find(answer.question_id).title %></a></li>
      <% end %>
    </ul>
  </p>
</div>

<div class="">
  <p>
    Comments: <%= @comments.length %>
    <ul>
      <% @comments.each do |comment| %>
        <% if comment.commentable_type == "Question" %>
          <li><a href="/questions/<%= comment.commentable_id %>"><%= Question.find(comment.commentable_id).title %></a></li>
        <% elsif comment.commentable_type == "Answer" %>
          <li><a href="/questions/<%= Answer.find(comment.commentable_id).question_id %>"><%= Question.find(Answer.find(comment.commentable_id).question_id).title %></a></li>
        <% end %>
      <% end %>
    </ul>
  </p>
</div>
