
  <% if @errors %>
  <% @errors.each do |error| %>
  <div><%= error.full_message %></div>
  <% end %>
  <% end %>

<header>
  <h1>SlackOverflow</h1>
  <p id="tabs">
    <a href="#">latest</a>
    <a href="#">comments</a>
    <a href="#">popular</a>
    <% if logged_in? %>
    <a href="#question-form">Ask Question</a>
    <% else %>
    <a href="/sessions/login">Ask Question</a>
    <% end %>
  </p>
</header>


<div class="questions-list">
  <h2>All Questions</h2>
	<% @questions.each do |question| %>
	<div class="question-listing">
    <div class="summary-container">
			<a class="question-hyperlink" href="/questions/<%= question.id %>"><%= question.title %></a>
			<p class="question-text">
				<% if question.question.length > 200 %>
						<% text = question.question[0...200]+" ..." %>
				<% else %>
						<% text = question.question %>
				<% end %>
				<%= text %>
			</p>

      <div class="time">
        <%=time_since_creation(question)%> minutes ago
      </div>
      <div class="username">
        Created by: <a href="users/<%=question.user.id%>"><%=question.user.username%></a>
      </div>
		</div>

		<div class="counts-container">
			<div class="votes">
				<div class="count"><%= question.votes.length %></div>
					<div>votes</div>
				</div>

				<div class="answers">
					<div class="count"><%= question.answers.length %></div>
					<div>answers</div>
				</div>

      </div>
		</div>
	<% end %>
    </div>
  </div>
</div>

<% if logged_in? %>
  <div id="question-form">
    <form id="question" method="post" action="/">
      <table>
        <tr><td>Title:</td></tr>
        <tr><td><input type="text" name="title" placeholder="title"/></td></tr>
        <tr><td>Body:</td></tr>
        <tr><td><textarea rows="7" cols="50" name="question" placeholder="Enter your description..."></textarea></td></tr>
        <tr><td><input type="submit" value="Submit Question!"/></td></tr>
      </table>
    </form>
  </div>
<% end %>
